@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	padding: 1rem;

}

.canvas{
	
}

.container{
	width: 100%;
	max-width: 300px;
	margin: auto;

	background-image: url(./asset/2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-origin: border-box;
	background-size: 100vw;
	padding: 1rem;

	border-radius: 0.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hamburger-stick{
	width: 2rem;
	height: 0.25rem;
	background-color: #cfac70;
	margin-bottom: 0.25rem;
	border-radius: 999px;
}

.message{
	margin-left: 1rem;
	margin-top: 3rem;
	font-family: "Nunito";
	color: #cfac70;
}

.title{
	font-size: 2vw;
}

.subtitle{
	font-size: 1vw;
}

.stretch{
	height: 7rem;
	width: 10px;
}

.auth{
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

.auth img{
	width: 1rem;
	position: relative;
	left: 13.8rem;
	bottom: 3.2rem;
}

input{
	background-color: transparent;
	border: none;
	border-bottom: 0.1rem solid #cfac70;

	font-family: "Nunito";
	font-size: 1.2vw;
	color: #cfac70;

	width: 100%;
	margin-bottom: 1rem;

	padding-top: 1rem;
	padding-bottom: 1rem;
}

.btn{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1rem;
	margin-bottom: 4rem;
}

.btn button{
	width: 45%;
	padding: 0.1rem;
	border: 0.1rem solid #cfac70;
	background-color: transparent;

	font-size: 1vw;
	font-family: "Nunito";
	color: #cfac70;
}

.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer img{
	width: 1rem;
}